<script  src="<%=config.APP_URL; %>js/jquery.min.js"></script>
<script  src="<%=config.APP_URL; %>js/common.js"></script>
<script  src="<%=config.APP_URL; %>js/custom_code.js"></script>
</body>
</html>